@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,500italic,700,400italic,500,300italic,300,100italic,100|Fjalla+One|Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300|Montserrat:400,700);

@font-face { font-family: 'icon'; src: url('fonts/icomoon.eot?bhz6cy'); src: url('fonts/icomoon.eot?bhz6cy#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?bhz6cy') format('truetype'), url('fonts/icomoon.woff?bhz6cy') format('woff'), url('fonts/icomoon.svg?bhz6cy#icomoon') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'icon2'; src: url('fonts/icomoon2.eot?f5k529'); src: url('fonts/icomoon2.eot?f5k529#iefix') format('embedded-opentype'), url('fonts/icomoon2.ttf?f5k529') format('truetype'), url('fonts/icomoon2.woff?f5k529') format('woff'), url('fonts/icomoon2.svg?f5k529#icomoon') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'icon3'; src: url('fonts/icomoon3.eot?49nsck'); src: url('fonts/icomoon3.eot?49nsck#iefix') format('embedded-opentype'), url('fonts/icomoon3.ttf?49nsck') format('truetype'), url('fonts/icomoon3.woff?49nsck') format('woff'), url('fonts/icomoon3.svg?49nsck#icomoon') format('svg'); font-weight: normal; font-style: normal; }

[class^="icon-"] { font-family: 'icon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	$icon: home '"\e900"', camera '"\e90f"', calendar '"\e944"', send '"\e949"', talk '"\e96f"', user '"\e971"', profile '"\e976"', search '"\e986"', lock '"\e98f"', eye '"\e9ce"', heart '"\e9da"', stop '"\ea0d"', arrow '"\ea43"', quit '"\ea7d"';
	@each $i in $icon { $k: nth($i, 1); $v: nth($i, 2);
		&.icon-#{$k}:before { content: #{$v}; }
	}
	&[class^="icon-smiley-"] {
		$smiley: happy '"\e9e0"', smile '"\e9e2"', tongue '"\e9e4"', sad '"\e9e6"', wink '"\e9e8"', grin '"\e9ea"', cool '"\e9ec"', angry '"\e9ee"', evil '"\e9f0"', shocked '"\e9f2"', baffled '"\e9f4"', confused '"\e9f6"', neutral '"\e9f8"', mustache '"\e9fa"', wondering '"\e9fc"', sleepy '"\e9fe"', frustrated '"\ea00"', crying '"\ea02"';
		@each $s in $smiley { $k: nth($s, 1); $v: nth($s, 2);
			&.icon-smiley-#{$k}:before { content: #{$v}; }
		}
	}
	$icon2: menu '"\e9bd"', upload '"\e9c5"', location '"\e948"', male '"\e9dc"', female '"\e9dd"', dislike '"\e9db"', color '"\e90a"', check '"\ea10"';
	@each $i in $icon2 { $k: nth($i, 1); $v: nth($i, 2);
		&.icon-#{$k} { font-family: 'icon2' !important;
			&:before { content: #{$v}; }
		}
	}
	$icon3: specialarrow '"\ea34"', shield '"\e9b4"';
	@each $i in $icon3 { $k: nth($i, 1); $v: nth($i, 2);
		&.icon-#{$k} { font-family: 'icon3' !important;
			&:before { content: #{$v}; }
		}
	}
	&.icon-cross:after { content: "\ea0f"; }
}
span.email:before { content: "@"; }
