*, *:after, *:before { box-sizing: border-box; outline: none; }
@keyframes spin {
	0%, 10% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes animate-arrow-1 {
	0%, 80% { transform: translateX(-40px); opacity: 0; }
	90%, 100% { transform: translateX(0); opacity: 1; }
}
@keyframes animate-arrow-2 {
	0%, 80% { transform: translateX(-20px); opacity: 0; }
	90%, 100% { transform: translateX(0); opacity: .5; }
}
@keyframes animate-arrow-3 {
	0%, 80% { transform: translateX(-10px); opacity: 0; }
	90%, 100% { transform: translateX(0); opacity: .3; }
}
@mixin circle($nb, $size) {
	$angle: (360 / $nb);
	$rot: 31;
	@for $i from 1 through $nb {
		&:nth-of-type(#{$i}) { transform: rotate($rot * 1deg) translate($size / 2) rotate($rot * -1deg); }
		$rot: $rot + $angle;
	}
}
$seed: 369;
@function getRandom($max) {
	$seed: ($seed * 9301 + 49297) % 233280 !global;
	@return ($seed / 233280) * $max;
}
@mixin randomPlace($nb) {
	@for $i from 1 through $nb {
		&:nth-of-type(#{$i}) { left: getRandom(88%) + 5%; top: getRandom(90%) + 5%;
			&:before { content: '#{$i}'; }
		}
	}
}
@mixin theme($colorscheme) {
	& { background: map_get($colorscheme, bg); font-family: 'Open Sans', sans-serif; color: map_get($colorscheme, text_color); position: relative;
		&.noscroll { overflow: hidden; }
		.hidden { opacity: 0; transition: all .3s ease-in-out; }
		.bold { font-weight: bold; }
		.colorscheme { position: fixed; top: 0; bottom: 0; left: 100px; right: 0; width: 150px; height: 150px; background: map_get($colorscheme, bg_nav); margin: auto; z-index: 200; border-radius: 100%; text-align: center; color: white; display: none;
			& > p { line-height: 105px; font-size: 24px; text-transform: uppercase; }
			div { position: absolute; background: white; border-radius: 100%; font-size: 14px; width: 60px; height: 60px; margin: -30px; @include circle(6, 250px); left: 50%; top: 50%; cursor: pointer;
				@each $thm in $themes {
					&.#{$thm} { background: url('../imgs/themes/preview_#{$thm}.png') center center no-repeat; background-size: 60px; }
				}
				p { position: absolute; bottom: -25px; left: 50%; transform: translate(-50%); margin: 0; opacity: 0; transition: opacity .5s ease-in-out; background: map_get($colorscheme, bg_button); color: white; border-radius: 2px; display: table; padding: 2px 10px; overflow: hidden; white-space: nowrap; }
				&:hover p { opacity: 1; }
				&.mine { border: 5px solid map_get($colorscheme, error);
					p { bottom: -30px; }
				}
			}
		}
		div.background { background: map_get($colorscheme, bg_nav); opacity: .5; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; display: none;
			&.logged { z-index: 25;
				& + .loader { left: 100px; }
			}
		}
		.loader { width: 120px; line-height: 100vh; position: fixed; z-index: 150; margin: 0 auto; display: block; left: 0; right: 0; display: none;
			span { border: 16px solid map_get($colorscheme, bg); border-radius: 50%; border-top: 16px solid map_get($colorscheme, error); width: 120px; height: 120px; animation: spin 1.4s linear infinite; margin: 0 auto; display: inline-block; vertical-align: middle; }
		}
		header { background: map_get($colorscheme, bg_nav);
			&.unlogged { display: flex; justify-content: space-between; padding: 20px; position: fixed; width: 100%; z-index: 2;
				& > a, a + nav { display: inline-block; vertical-align: middle;
					button + a { background: map_get($colorscheme, bg_notif); margin-right: 10px;
						&:hover { background: lighten(map_get($colorscheme, bg_notif), 5%); }
					}
					a { border-radius: 3px; display: inline-block; width: 130px; height: 32px; line-height: 32px; text-align: center; margin-top: 2px; font-weight: 300; transition: all ease-in-out .3s;
						&:last-child { background: white; color: map_get($colorscheme, bg_notif);
							&:hover { background: darken(white, 10%); }
						}
					}
				}
			}
			&.logged { display: inline-block; width: 100px; height: 100vh; position: fixed; padding: 30px 0; z-index: 20;
				& > a { display: none; }
				nav a { display: block; text-align: center; position: relative;
					span { font-size: 2em; cursor: pointer; position: relative; z-index: 2;
						&:before { opacity: .7; transition: all ease-in-out .3s; }
						&:hover + .title { opacity: 1; left: 110px; }
					}
					&.active span:before, &:hover span:before { opacity: .9; }
					&.themes { margin-top: 50px;
						span { font-size: 20px; width: 40px; height: 40px; border: 1px solid rgba(white, .5); border-radius: 100%; display: block; line-height: 38px; margin: 0 auto; }
					}
				}
				& + #content { display: inline-block; vertical-align: top; }
			}
			h1 { margin: 0; font-family: 'Fjalla One'; text-transform: uppercase; font-weight: 400; }
			a { color: white; text-decoration: none; font-family: 'Roboto'; font-weight: 500; }
			nav button { background: none; color: white; border: none; font-size: 30px; display: none; width: 100%; text-align: right; }
			.new:after { background: map_get($colorscheme, bg_notif); content: "\00a0"; border-radius: 100%; width: 8px; height: 8px; position: absolute; left: 15px; top: 12px; }
			.title, .notif { position: absolute; top: -10px; padding: 5px 15px; font-weight: 100; white-space: nowrap;
				&.title { background: map_get($colorscheme, bg_nav); left: 0;
					&:before { border-right: 5px solid map_get($colorscheme, bg_nav); }
				}
				&.notif { background: map_get($colorscheme, bg_notif); left: 110px;
					&:before { border-right: 5px solid map_get($colorscheme, bg_notif); }
				}
				&:before { content: "\00a0"; width: 0; height: 0; position: absolute; left: -5px; top: 10px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; }
			}
			hr { width: 50%; opacity: .3; margin: 20px auto; }
			div { position: absolute; bottom: 30px; left: 0; width: 100%; }
		}
		header.unlogged + #content { width: 100%; min-height: 100vh; padding-top: 130px;
			&.error { background: url('../imgs/bg_unlogged_img1.png') no-repeat left center, url('../imgs/bg_unlogged_img2.png') no-repeat right center; background-size: 150px auto; background-attachment: fixed; }
			&.index { background: url('../imgs/bg_index_img1.png') no-repeat left top, url('../imgs/bg_index_img2.png') no-repeat right top; background-size: contain; }
		}
		header.logged + #content { width: calc(100% - 100px); min-height: 100vh; margin-left: 100px;
			#success, #error { left: 100px !important; }
		}
		#content { overflow: auto; position: relative; padding: 50px 20px 90px 20px;
			h1.title { text-align: center; color: map_get($colorscheme, bg_nav); text-transform: uppercase; font-family: 'Roboto'; font-size: 54px; margin: 0; position: relative; padding-bottom: 40px;
				span { font-weight: lighter; }
				&:before { width: 250px; content: ""; height: 40px; position: absolute; bottom: 0; left: 0; right: 0; margin: auto; background: url('../imgs/bg_title.png') center bottom no-repeat; background-size: 27px; z-index: 5; }
				&:after { border-bottom: 2px solid map_get($colorscheme, error); width: 250px; content: ""; height: 1px; position: absolute; bottom: 13px; left: 0; right: 0; margin: auto; }
			}
			.dialog { background: map_get($colorscheme, bg); position: fixed; top: 0; bottom: 0; left: 100px; right: 0; margin: auto; width: 300px; height: 150px; text-align: center; z-index: 100; display: none;
				span { position: absolute; top: 10px; right: 10px; cursor: pointer; }
				h3 { color: map_get($colorscheme, error); font-family: 'Fjalla One'; font-size: 20px; }
				button { width: calc(50% - 20px); margin: 0 5px; border: none; color: white; padding: 6px 0; font-weight: lighter; background: map_get($colorscheme, error);
					& + button { background: map_get($colorscheme, bg_button); }
				}
			}
			&.admin {
				& > div { width: 100%; max-width: 1560px; margin: 100px auto 0 auto; text-align: center;
					article { background: map_get($colorscheme, bg_block); padding: 20px; display: table; width: 100%; max-width: 1000px; margin: 0 auto; position: relative;
						& > * { display: table-cell; vertical-align: middle; text-align: center; }
						& + article { margin-top: 30px; }
						figure { margin: 0; height: 100%;
							img { height: 100px; }
							span { position: absolute; top: 0; bottom: 0; left: -15px; margin: auto; background: map_get($colorscheme, error); width: 30px; height: 30px; line-height: 31px; text-align: center; font-size: 12px; color: white; border-radius: 100%; }
						}
						h2 { text-transform: uppercase; font-weight: 500; color: map_get($colorscheme, bg_nav); margin: 0; font-family: 'Roboto'; font-size: 20px;
							span { display: block; font-weight: bolder; color: lighten(map_get($colorscheme, text_color), 30%); font-size: 14px; }
						}
						.connected { text-transform: uppercase; margin: 0 0 10px 0;
							&.true { color: map_get($colorscheme, success); }
							&.false { color: map_get($colorscheme, error); }
						}
						h3 { color: map_get($colorscheme, bg_nav); font-weight: lighter; margin: 0; font-size: 16px;
							& + p { margin: 0;
								a { color: map_get($colorscheme, text_color); cursor: pointer; display: block; }
							}
						}
						div#admin_delete { text-align: right;
							& > * { display: inline-block; }
							a { color: map_get($colorscheme, button); background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); border-radius: 100%; width: 40px; height: 40px; line-height: 40px; text-align: center; text-decoration: none; cursor: pointer; margin-right: 20px; }
							button { background: map_get($colorscheme, bg_report); border: 1px solid map_get($colorscheme, report); cursor: pointer; color: map_get($colorscheme, report); text-transform: uppercase; border-radius: 2px; height: 40px; padding: 0 15px; }
						}
					}
				}
			}
			&.chat {
				& > div { width: 90%; max-width: 1560px; margin: 150px auto 0 auto; text-align: center; display: flex; height: calc(100vh - 330px); min-height: 400px; max-height: 700px;
					& > p { width: 100%; }
					& > article { vertical-align: top; height: 100%; max-height: 1000px; overflow: auto;
						&.list { width: 180px; background: map-get($colorscheme, bg_block); padding: 3px;
							& > div {
								div { width: 100%; display: block; text-align: left; padding: 5px 10px; cursor: pointer; border-bottom: 1px solid darken(map-get($colorscheme, bg_block), 5%); position: relative;
									&.onchat { background: darken(map-get($colorscheme, bg_block), 5%); }
									* { display: inline-block; vertical-align: middle; }
									figure { margin: 0; width: 30px; height: 30px; overflow: hidden; border-radius: 2px;
										img { width: 100%; margin-top: -20%; }
									}
									p { margin: 0 0 0 15px; text-transform: uppercase; height: 30px; line-height: 30px; text-align: right; width: calc(100% - 45px); font-size: 12px;
										span.state { width: 8px; height: 8px; border-radius: 100%; margin-left: 10px; margin-top: -3px;
											&.connected { background: map-get($colorscheme, success); }
											&.disconnected { background: map-get($colorscheme, error); }
										}
									}
									.info_bubble { position: absolute; color: white; background: map-get($colorscheme, error); font-size: 10px; top: 12px; left: 0; padding: 1px 5px; border-radius: 2px; font-weight: lighter; }
								}
							}
						}
						&.room { width: calc(100% - 180px); border: 3px solid map-get($colorscheme, bg_block); background: map-get($colorscheme, bg); position: relative;
							.empty { display: flex; justify-content: center; align-items: center; height: 100%;
								p.tuto_msg { color: map_get($colorscheme, bg_nav); margin: 0;
									span.icon-specialarrow { font-size: 13px;
										&:before { transform: rotate(180deg); display: inline-block; }
										&:nth-child(1) { animation: animate-arrow-3 2s ease-in-out infinite .2s;
											& + span { animation: animate-arrow-2 2s ease-in-out infinite .1s;
												& + span { animation: animate-arrow-1 2s ease-in-out infinite; margin-right: 5px; }
											}
										}
										& + span { margin-left: -2px; }
									}
								}
							}
							.talk { display: none; height: calc(100% - 42px); padding: 25px 60px 25px 25px; overflow: auto;
								a { display: inline-block; text-decoration: none; color: map_get($colorscheme, button); background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); border-radius: 100%; width: 40px; height: 40px; line-height: 40px; text-align: center; position: absolute; top: 10px; right: 10px; z-index: 2; }
								& > div {
									[class^="sender-"] { margin-bottom: 7px; position: relative; font-size: 12px; }
									.sender-me { text-align: right; margin-right: 42px; }
									.sender-other { text-align: left; margin-left: 42px; }
									div + p.date { margin-top: 20px; }
									p { margin: 0; font-size: 12px;
										&.nomessage { display: none; }
										&.date { text-transform: uppercase; font-size: 14px; color: map_get($colorscheme, bg_nav); margin-bottom: 20px;
											span { position: relative;
												&:before, &:after { content: ''; background: map_get($colorscheme, bg_nav); width: calc(100px - 50%); height: 2px; position: absolute; top: 8px; }
												&:before { left: calc(50% - 110px); }
												&:after { right: calc(50% - 110px); }
											}
										}
									}
									.messages {
										span.hour { position: absolute; top: 2px; left: -42px; }
										p.message { background: map_get($colorscheme, bg_button); color: white; padding: 2px 10px; border-radius: 5px; font-size: 12px; font-weight: lighter; max-width: 500px; display: inline-block; max-width: 500px;
											span[class^=icon-smiley-] { color: map_get($colorscheme, smiley); background: black; border-radius: 100%; margin: 0 1px; }
											& + span.hour { left: 0; right: -42px; }
										}
									}
								}
								form { margin: 0; width: 100%; position: absolute; bottom: 0; left: 0; border-top: 2px solid map_get($colorscheme, bg_block);
									* { display: inline-block; vertical-align: bottom; border: none; }
									input { width: calc(100% - 80px); padding: 0 15px; height: 40px; line-height: 40px; }
									& > span { width: 40px; height: 40px; line-height: 40px; margin: 0; border-radius: 0; cursor: pointer; background: white; color: map_get($colorscheme, smiley);
										& + span { background: map_get($colorscheme, bg_button); color: map_get($colorscheme, button); }
									}
									div.smileys { display: none; position: absolute; right: 30px; bottom: 60px; width: 170px; background: white; font-size: 18px; padding: 10px 15px 15px 15px; border: 2px solid map_get($colorscheme, bg_block); border-radius: 5px; color: map_get($colorscheme, smiley); user-select: none;
										span { cursor: pointer; }
										div.arrow-down { position: absolute; width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 15px solid map_get($colorscheme, bg_block); bottom: -15px; right: 13px; }
									}
								}
							}
						}
					}
				}
			}
			&.search { padding-bottom: 0; padding-top: 0;
				& > article { width: 50%; position: relative; height: calc(100vh - 50px); padding: 0 20px 0 50px;
					footer { padding: 0 0 20px 0; clear: both; display: block; }
					& > div { position: relative; padding-bottom: 80px; min-height: 100%; }
					h1, h2, h3 { color: map_get($colorscheme, bg_nav); margin: 0; }
					h1 { text-transform: uppercase; font-size: 38px; line-height: .9; margin-top: 50px; }
					h2 { font-size: 18px; line-height: .9; font-weight: lighter; }
					div.sort { margin: 100px 0 20px 0;
						h3 { font-weight: normal; margin-bottom: 20px; }
						form { width: 100%; margin: 15px 0 0 0; max-width: 600px;
							.left, .right { display: inline-block; width: 200px; vertical-align: top;
								&.right { width: calc(90% - 200px); text-align: center; position: relative; }
							}
							.checkbox { margin-bottom: 10px; height: 40px; line-height: 38px;
								input[type=checkbox] { display: none;
									& + label span span { background: map_get($colorscheme, bg); transition: background .3s ease-in-out; }
									&:checked + label span span { color: map_get($colorscheme, checkbox); }
								}
								label { cursor: pointer;
									& > span { border: 1px solid map_get($colorscheme, checkbox); display: inline-block; border-radius: 2px; margin-right: 10px; vertical-align: middle; width: 15px; height: 15px; position: relative;
										span { color: transparent; background: transparent !important; position: absolute; top: -5px; right: -5px; font-size: 18px; }
									}
									p { display: inline-block; vertical-align: middle; margin: 0 0 0 5px; font-weight: lighter; }
								}
							}
							.radio { display: inline-block; margin: 0 0 7px 0; width: 50%;
								p { text-transform: none; margin: 0 0 2px 5px; font-weight: lighter; }
								input[type=radio]:checked + label span span { background: map_get($colorscheme, checkbox); }
								label > span { border-color: map_get($colorscheme, checkbox); }
							}
							div.tags { position: absolute; top: 0; margin-top: 0; left: calc(100% + 20px); background: map_get($colorscheme, bg_block); z-index: 1; border: 1px solid map_get($colorscheme, bg_nav); border-radius: 2px; text-align: left; padding: 5px; opacity: .5; transition: all .5s ease-in-out; display: none;
								&:hover { opacity: 1; }
								&:before {  content: "\00a0"; width: 0; height: 0; position: absolute; left: -5px; top: 15px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid map_get($colorscheme, bg_nav); }
							}
							& + h3 { margin-top: 30px; }
						}
					}
					p.tuto_msg { color: map_get($colorscheme, bg_nav); margin: 50px 0 20px 50px; text-align: center;
						span.mark { content: ""; background: url('../imgs/mark.png') center center no-repeat; background-size: 100%; width: 20px; height: 25px; display: inline-block; vertical-align: middle; margin: 0 5px; }
						span.icon-specialarrow { font-size: 13px;
							&:nth-child(2) { margin-left: 15px; animation: animate-arrow-3 2s ease-in-out infinite;
								& + span { animation: animate-arrow-2 2s ease-in-out infinite .1s;
									& + span { animation: animate-arrow-1 2s ease-in-out infinite .2s; }
								}
							}
							& + span { margin-left: -2px; }
						}
					}
					.profile_user { width: 95%; background: map-get($colorscheme, bg_block); margin: 50px 20px 0 0; padding: 20px; height: 260px; display: none; max-width: 450px;
						figure { margin: 0; height: 100%; vertical-align: top; float: left;
							img { height: 100%; }
						}
						div { width: calc(100% - (220px * (2.1/3))); height: 100%; float: left; padding: 0 45px 0 20px; position: relative; vertical-align: top;
							h2 { text-transform: uppercase; margin: 0; color: map_get($colorscheme, bg_nav); font-size: 20px; font-family: 'Roboto'; font-weight: 500;
								span { position: absolute; right: 0; font-size: 40px; color: lighten(map_get($colorscheme, text_color), 30%); }
							}
							.connected { text-transform: uppercase; margin: 0 0 10px 0;
								&.true { color: map_get($colorscheme, success); }
								&.false { color: map_get($colorscheme, error); }
							}
							.age { margin-bottom: 0; }
							.place { margin-top: 0; }
							.age span, .place span { font-weight: 600; font-size: 18px; }
							.type { position: absolute; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-repeat: no-repeat; background-size: 40px; background-position: right 50px; z-index: 1; margin: 0;
								@each $t in $type {
									&.#{$t} { background-image: url('../imgs/types/#{$t}.png'); }
								}
							}
							a { display: block; width: calc(100% - 20px); background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); color: map_get($colorscheme, button); text-transform: uppercase; padding: 5px 0; border-radius: 2px; text-align: center; text-decoration: none; margin-top: 20px; position: absolute; bottom: 0; z-index: 2 !important; }
						}
					}
				}
				& > figure { margin: 0; position: fixed; right: 0; top: 0; height: 100%; width: calc((100% - 100px) / 2); background-size: cover; background-repeat: no-repeat; background-blend-mode: multiply; background-position: center center;
					&:before { background-position: left top; background-repeat: repeat-y; background-size: 15px; position: absolute; left: -1px; top: 0; height: 100%; width: 15px; content: ""; }
					& > span { position: absolute; content: ""; background: url('../imgs/mark.png') center center no-repeat; background-size: 100%; width: 25px; height: 40px; cursor: pointer; @include randomPlace(10);
						&:before { position: absolute; top: 6px; left: 4px; width: 17px; height: 17px; line-height: 17px; text-align: center; color: white; background: rgba(#ff3b00, .6); font-size: 9px; border-radius: 100%; }
						&.unclicked:not(:hover) { filter: grayscale(100%); }
						&:hover figure { transform: scale(2); border-width: 1px; margin-top: -14px; z-index: 5;
							& + p { opacity: 1; }
						}
						figure { width: 25px; height: 25px; overflow: hidden; margin: -20px auto 0 auto; border-radius: 100%; border: 2px solid white; transition: all .2s ease-in-out; position: relative;
							img { width: 100%; margin-top: -4px; }
						}
						p { opacity: 0; transition: all .2s ease-in-out; color: white; background: map_get($colorscheme, button); font-size: 10px; text-align: center; border-radius: 2px; padding: 2px 5px; display: table; position: absolute; z-index: 5; left: 50%; transform: translateX(-50%); top: 24px; }
					}
				}
				& > footer { display: none; }
			}
			&.index div { width: 100%; padding: 120px 100px 0 100px; display: table; max-width: 1400px; margin: 0 auto;
				article { background: map_get($colorscheme, bg_block); display: table-cell; padding: 50px; width: 50%; vertical-align: top;
					p { margin: 0; font-weight: lighter; margin-bottom: 30px; display: block;
						* { display: inline-block; vertical-align: top; }
						span { color: map_get($colorscheme, error); font-weight: 600; font-size: 56px; height: 45px; line-height: 45px; padding-right: 7px; position: relative;
							a { position: absolute; text-decoration: none; text-transform: uppercase; border: 1px solid map_get($colorscheme, link); color: map_get($colorscheme, link); border-radius: 2px; padding: 0 8px; font-size: 12px; font-weight: 600; height: 20px; line-height: 20px; bottom: 0; margin-left: 7px; white-space: nowrap; }
						}
						&:first-child { font-weight: 400; margin-bottom: 60px; }
						&#chat span { padding-left: 7px; }
						&#views { margin-bottom: 40px;
							& + p { text-align: center; }
						}
					}
					& > a { margin: 60px auto 0 auto; background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); color: map_get($colorscheme, button); text-transform: uppercase; width: 300px; display: block; padding: 10px 0; border-radius: 2px; text-align: center; text-decoration: none; }
				}
				.pikachu { display: table-cell; vertical-align: top; background-position: center center; background-repeat: no-repeat; background-size: contain; }
			}
			&.likes, &.views {
				& > div { width: 100%; max-width: 1560px; margin: 100px auto 0 auto; text-align: center;
					article { width: calc((100% - 60px) / 3); max-width: 500px; margin: 30px 0 0 0; display: inline-block; background: map_get($colorscheme, bg_block); padding: 30px; position: relative; vertical-align: top;
						&:nth-child(3n+2) { margin-left: 30px; margin-right: 30px; }
						& > div.unseen { background: url('../imgs/new.png') left top no-repeat; background-size: 50px; position: absolute; width: 50px; height: 75px; left: 0; top: 0; }
						figure { margin: 0; width: 45%; display: inline-block; vertical-align: top;
							img { width: 100%; }
							& + div { display: inline-block; vertical-align: top; padding: 0 25px; width: 55%; text-align: left;
								h2 { text-transform: uppercase; margin: 0; color: map_get($colorscheme, bg_nav); font-size: 20px; font-family: 'Roboto'; font-weight: 500;
									span { position: absolute; right: 30px; font-size: 40px; color: lighten(map_get($colorscheme, text_color), 30%); }
								}
								.connected { text-transform: uppercase; margin: 0;
									&.true { color: map_get($colorscheme, success); }
									&.false { color: map_get($colorscheme, error); }
								}
								.age { margin-bottom: 0; }
								.place { margin-top: 0; }
								.age span, .place span { font-weight: 600; font-size: 18px; }
								.type { font-weight: 600; text-transform: uppercase; font-size: 20px; color: map_get($colorscheme, bg_nav); text-align: center; padding-top: 90px; background-repeat: no-repeat; background-position: center top; background-size: 80px; margin-top: 30px;
									@each $t in $type {
										&.#{$t} { background-image: url('../imgs/types/#{$t}.png'); }
									}
								}
							}
						}
						a { display: block; width: 100%; background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); color: map_get($colorscheme, button); text-transform: uppercase; padding: 10px 0; border-radius: 2px; text-align: center; text-decoration: none; margin-top: 20px; }
					}
				}
			}
			&.trainer > div:not(.dialog) { margin: 170px auto 0 auto; display: table; border-spacing: 120px 0;
				article { width: 315px; display: table-cell; vertical-align: top; position: relative;
					& > a#message { position: absolute; bottom: 30px; right: 30px; cursor: pointer;
						button { width: 50px; height: 50px; border-radius: 100%; color: white; background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); font-size: 24px; cursor: pointer; line-height: 46px; }
					}
					& > button { position: absolute; bottom: 30px; transition: all .3s ease-in-out; cursor: pointer;
						&#report { width: calc(100% - 60px); background: map_get($colorscheme, bg_report); border: 1px solid map_get($colorscheme, report); color: map_get($colorscheme, report); text-transform: uppercase; border-radius: 2px; height: 40px;
							&.disabled { border-color: lighten(map_get($colorscheme, text_color), 20%); color: lighten(map_get($colorscheme, text_color), 20%); background: lighten(map_get($colorscheme, text_color), 50%); cursor: not-allowed; }
						}
						&#block, &#like, &#dislike { width: 50px; height: 50px; border-radius: 100%; color: white; background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); font-size: 24px; cursor: pointer; line-height: 46px;
							&#block, &#dislike, &#like.unlike { background: map_get($colorscheme, bg_report); border: 1px solid map_get($colorscheme, report); }
							&#block { left: 30px; }
							&#like { right: 90px; }
							&#dislike { right: 30px; }
							&.disabled { border-color: lighten(map_get($colorscheme, text_color), 20%) !important; color: lighten(map_get($colorscheme, text_color), 20%); background: lighten(map_get($colorscheme, text_color), 50%) !important; cursor: not-allowed; }
						}
					}
					h3 { margin-top: 0; text-transform: uppercase; font-weight: lighter; }
					p.description { margin-bottom: 50px; }
					p[class$="_state"] { margin: 0; font-size: 14px; font-weight: lighter; }
					& + article { margin-left: 50px; background: map_get($colorscheme, bg_block); padding: 30px; width: 400px;
						div { opacity: .3; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-position: center 70%; background-repeat: no-repeat; }
					}
					&.slider { position: relative;
						&:before { background-repeat: no-repeat; content: ""; display: block; width: 70px; height: 70px; background-size: 70px; position: absolute; top: -15px; right: -15px; z-index: 25; }
						&.liked:after { background-image: url('../imgs/bg_title.png'); background-repeat: no-repeat; content: ""; display: block; width: 30px; height: 30px; background-size: 30px; position: absolute; top: 40px; right: -15px; z-index: 10; filter: grayscale(100%); }
						&.liked.go:after { filter: none; }
						.images { width: 315px; height: 450px; overflow: hidden; position: relative; margin-bottom: 10px;
							img { position: absolute; top: 0; width: 100%; height: auto;
								@for $i from 1 through 5 {
									&:nth-child(#{$i}) {
										left: ($i - 1) * 100%;
									}
								}
							}
						}
						.points { text-align: center;
							div { width: 12px; height: 12px; border-radius: 100%; display: inline-block; margin: 0 3px; cursor: pointer; background: map_get($colorscheme, bg_block);
								&.selected { background: map_get($colorscheme, error); }
							}
						}
						& + article {
							h2 { text-transform: uppercase; margin: 0; color: map_get($colorscheme, bg_nav); font-size: 20px; font-family: 'Roboto'; font-weight: 500;
								span { position: absolute; right: 30px; font-size: 40px; color: lighten(map_get($colorscheme, text_color), 30%); }
							}
							.popularity { margin-top: 0; text-align: left; }
							.connected { text-transform: uppercase; margin-bottom: 0;
								&.true { color: map_get($colorscheme, success); }
								&.false { color: map_get($colorscheme, error); }
							}
							.disconnected { margin-top: 0; font-weight: lighter; font-size: 14px;
								span { display: block; font-weight: 600; font-size: 18px; }
							}
							.whenwhere { font-weight: lighter;
								span { font-weight: 600; font-size: 18px; }
								& + p { font-weight: lighter;
									span { display: block; font-weight: 600; text-transform: uppercase; font-size: 24px; color: map_get($colorscheme, bg_nav); }
								}
							}
						}
					}
					@each $t in $type {
						&.slider.#{$t}:before, & + article.#{$t} div { background-image: url('../imgs/types/#{$t}.png'); }
					}
				}
			}
			#success { position: fixed; top: 60px; left: 0; right: 0; margin: 0 auto; width: 450px; background: map_get($colorscheme, bg_success); color: map_get($colorscheme, success); border: 1px solid map_get($colorscheme, success); z-index: 2; padding: 10px 40px; text-align: center; font-size: 14px; display: none; cursor: pointer; }
			#error { position: fixed; top: 60px; left: 0; right: 0; margin: 0 auto; width: 450px; background: map_get($colorscheme, bg_error); color: map_get($colorscheme, error); border: 1px solid map_get($colorscheme, error); z-index: 2; padding: 10px 40px; text-align: center; font-size: 14px; display: none; cursor: pointer; }
			&.activate p { text-align: center; margin-top: 50px;
				a { color: map_get($colorscheme, error); }
			}
			&.index { overflow: hidden;
				& > p { margin: 0; width: 100vw; height: calc(100vh - 250px); text-align: center; display: table-cell; vertical-align: middle;
					img { max-width: 500px; max-height: 100%; }
				}
				footer { background: transparent; }
			}
			&.register, &.login, &.forgot, &.activate { background: url('../imgs/bg_unlogged_img1.png') no-repeat left center, url('../imgs/bg_unlogged_img2.png') no-repeat right center; background-size: 150px auto; background-attachment: fixed;
				h1 { font-family: 'Fjalla One'; color: map_get($colorscheme, bg_notif); text-align: center; }
			}
			.radio { display: inline-block; margin-right: 50px;
				input[type=radio] { display: none;
					& + label span span { background: map_get($colorscheme, bg); transition: background .3s ease-in-out; }
					&:checked + label span span { background: map_get($colorscheme, text_color); }
				}
				label { cursor: pointer;
					& > span { border: 1px solid map_get($colorscheme, text_color); display: inline-block; border-radius: 100%; margin-right: 10px; vertical-align: middle;
						span { width: 5px; height: 5px; border-radius: 100%; margin: 5px; display: block; }
					}
					p { text-transform: uppercase; display: inline-block; vertical-align: middle; }
				}
			}
			&.login {
				input[type=submit] { margin-top: 30px; }
				a { text-align: center; display: block; margin-top: 20px; color: map_get($colorscheme, text_color); font-size: 14px; }
			}
			&.register input[type=submit] { margin-bottom: 120px; }
			&.profile {
				article { width: 50%; display: inline-block; vertical-align: top;
					& + article { border-left: 1px solid map_get($colorscheme, bg_nav);
						form { position: relative; }
					}
				}
				h2 { color: map_get($colorscheme, bg_nav); text-transform: uppercase; text-align: center; font-weight: normal; font-size: 28px; line-height: 1;
					span { display: block; font-size: 60px; }
				}
			}
			div.actions { width: 680px; margin: 0 auto; margin-top: 100px;
				button { background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); color: map_get($colorscheme, button); text-transform: uppercase; width: 300px; display: inline-block; padding: 10px 0; border-radius: 2px; transition: all .3s ease-in-out; cursor: pointer;
					&:disabled, &.disabled { border-color: lighten(map_get($colorscheme, text_color), 20%); color: lighten(map_get($colorscheme, text_color), 20%); background: lighten(map_get($colorscheme, text_color), 50%); cursor: not-allowed; }
					&.bad { background: map_get($colorscheme, bg_report); color: map_get($colorscheme, report); border-color: map_get($colorscheme, report); }
					& + button { margin-left: 20px; }
				}
				a { display: inline-block; margin-left: 20px; text-decoration: none; color: map_get($colorscheme, button); background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); padding: 10px 0; border-radius: 2px; width: 40px; text-align: center;
					&.disabled { border-color: lighten(map_get($colorscheme, text_color), 20%); color: lighten(map_get($colorscheme, text_color), 20%); background: lighten(map_get($colorscheme, text_color), 50%); cursor: not-allowed; }
				}
			}
			.popularity { text-align: center; text-transform: uppercase; font-weight: lighter; font-size: 12px; margin-top: 30px; color: lighten(map_get($colorscheme, text_color), 30%);
				span { margin-right: 10px; display: inline-block; }
			}
			form { width: 400px; margin: 70px auto 0 auto;
				input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px transparent inset; -webkit-text-fill-color: map_get($colorscheme, text_color) !important;
					&, &:hover, &:focus, &:active { transition: all 5000s ease-in-out 0s; }
				}
				&#forgot input[type=submit] { margin-top: 20px; }
				.error { position: relative;
					.radio { height: 50px;
						label span span { background: transparent; }
						input[type=radio]:checked + label span span { background: map_get($colorscheme, error); }
						label > span { border-color: map_get($colorscheme, error); }
						label p { color: map_get($colorscheme, error); }
					}
				}
				p.error { color: white; position: absolute; display: inline-table; top: 0; left: 430px; padding: 0 20px; margin: 0; background: map_get($colorscheme, error); line-height: 40px; white-space: nowrap;
					&:before { content: "\00a0"; width: 0; height: 0; position: absolute; left: -5px; top: 15px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid map_get($colorscheme, error); }
				}
				.default { color: #aaa; }
				.value { color: map_get($colorscheme, text_color); }
				.select { width: 100%; height: 40px; border-radius: 0; border: 1px solid lighten(map_get($colorscheme, border_color), 30%); padding: 0 15px; font-weight: lighter; margin-bottom: 10px;
					&.error { border-color: map_get($colorscheme, error); background: map_get($colorscheme, bg_error); position: relative;
						select, span:before { color: map_get($colorscheme, error) !important; -webkit-text-fill-color: map_get($colorscheme, error) !important; }
					}
					&.success { border-color: map_get($colorscheme, success); background: map_get($colorscheme, bg_success);
						select, span:before { color: map_get($colorscheme, success) !important; -webkit-text-fill-color: map_get($colorscheme, success) !important; }
					}
					select { -webkit-appearance: none; -moz-appearance: none; border: none; background: transparent; height: 40px; line-height: 40px; width: calc(100% - 25px); }
					span { font-size: 10px; margin-left: 3px; }
				}
				.covers { width: 100%; margin: 30px auto 0 auto; text-align: center; line-height: 0;
					& > div:not(.cropper) { width: 70px; height: 100px; display: inline-block; background: map_get($colorscheme, bg_cover); margin: 0 5px 10px 5px; vertical-align: top; position: relative;
						&.empty {
							img, span.icon-cross { display: none; }
							span.icon-camera { display: block; text-align: left; opacity: .4; margin: 7px; font-size: 14px;
								& + span { font-weight: lighter; font-size: 28px; display: block; background: rgba(white, .5); width: 30px; height: 30px; line-height: 28px; border-radius: 100%; border: 1px solid lighten(map_get($colorscheme, text_color), 20%); margin: 15px auto; color: lighten(map_get($colorscheme, text_color), 20%); }
							}
						}
						&.first { outline: 3px solid map_get($colorscheme, bg_button); }
						&:not(.first) { cursor: pointer; }
						&:not(.empty) {
							img { width: 100%; height: 100%; }
							span { position: absolute; top: 2px; right: 2px; color: white; background: black; font-size: 6px; font-weight: lighter; padding: 5px; border-radius: 100%; cursor: pointer; }
							span.icon-camera, span.icon-camera + span { display: none; }
						}
					}
					.cropper { display: none; position: fixed; background: map_get($colorscheme, bg); padding: 20px; z-index: 30; left: 100px; right: 0; margin: 0 auto; width: 80%; max-width: 1200px; height: 80%; max-height: 500px; top: 50vh; transform: translateY(-50%); user-select: none; line-height: 2;
						& > span { position: absolute; right: 20px; top: 20px; cursor: pointer; z-index: 35; }
						figure { display: inline-block; vertical-align: top; width: 50%; height: 100%; margin: 0; background: map_get($colorscheme, bg_cover); overflow: hidden; position: relative;
							&.active { background: white; cursor: move;
								.size { outline-color: rgba(black, .7); }
								.options { display: block; }
							}
							.size { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 210px; height: 300px; border: 1px dashed lighten(map_get($colorscheme, text_color), 20%); outline: rgba(black, .1) solid 600px; z-index: 40; }
							.options { position: absolute; top: 10px; left: 10px; z-index: 50; display: none;
								span { display: block; width: 30px; height: 30px; line-height: 28px; background: map_get($colorscheme, error); color: white; cursor: pointer; text-align: center; font-size: 24px; font-weight: lighter;
									& + span { margin-top: 5px; }
								}
							}
							img { max-width: 100%; max-height: 100%; min-width: 215px; min-height: 305px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; display: none; }
						}
						article { display: inline-block; vertical-align: top; width: 50%; height: 100%; padding-left: 30px; position: relative;
							p.error { left: 30px; right: 0; background: map_get($colorscheme, bg_error); border: 1px solid map_get($colorscheme, error); color: map_get($colorscheme, error); display: none; margin: auto; width: 100%; max-width: 300px; top: 60px; padding: 5px;
								&:before { background: none; }
							}
							h3 { margin: 0 0 50px 0; font-family: 'Fjalla One'; font-weight: 400; color: map_get($colorscheme, error); font-size: 26px; }
							label { height: 40px; line-height: 40px; width: 100%; max-width: 300px; border: 1px solid lighten(map_get($colorscheme, text_color), 20%); color: lighten(map_get($colorscheme, text_color), 20%); display: block; margin: 0 auto; text-align: left; padding: 0 15px; cursor: pointer;
								span { display: inline-block; vertical-align: top; height: 40px; line-height: 40px;
									&#text-content { width: calc(100% - 25px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
									& + span { width: 25px; text-align: right; }
								}
							}
							input[type=file] { display: none; }
							p { line-height: 1.5; margin: 30px 0; }
							button { background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); color: map_get($colorscheme, button); text-transform: uppercase; width: 100%; max-width: 300px; display: inline-block; border-radius: 2px; transition: all .3s ease-in-out; cursor: pointer; position: absolute; bottom: 0; left: 30px; right: 0; margin: 0 auto;
								&.disabled { border-color: lighten(map_get($colorscheme, text_color), 20%); color: lighten(map_get($colorscheme, text_color), 20%); background: lighten(map_get($colorscheme, text_color), 50%); cursor: not-allowed; }
							}
						}
						canvas { display: none; position: absolute; top: 0; left: 0; }
					}
				}
				.textarea { width: 100%; border-radius: 0; border: 1px solid lighten(map_get($colorscheme, border_color), 30%); font-weight: lighter; margin-bottom: 10px;
					&.error { border-color: map_get($colorscheme, error); background: map_get($colorscheme, bg_error); position: relative;
						textarea { color: map_get($colorscheme, error) !important; -webkit-text-fill-color: map_get($colorscheme, error) !important; }
					}
					&.success { border-color: map_get($colorscheme, success); background: map_get($colorscheme, bg_success);
						textarea { color: map_get($colorscheme, success) !important; -webkit-text-fill-color: map_get($colorscheme, success) !important; }
					}
					textarea { border: none; resize: none; width: 100%; height: 100%; padding: 10px 15px; height: 90px; background: transparent; }
				}
				.tags { text-align: center; margin-top: 10px; line-height: 25px;
					& > span { color: white; background: map_get($colorscheme, error); padding: 0 5px; border-radius: 3px; font-size: 12px; font-family: 'Open Sans', sans-serif !important; margin: 2px 3px; display: inline-block; height: 20px; line-height: 20px;
						span { font-weight: 600;
							&:after { font-family: 'icon'; font-size: 8px; margin-left: 5px; cursor: pointer; }
						}
					}
				}
				.input { display: block; width: 100%; border: 1px solid lighten(map_get($colorscheme, border_color), 30%); margin-bottom: 10px; height: 40px; line-height: 40px; padding: 0 15px; position: relative;
					&.error { border-color: map_get($colorscheme, error); background: map_get($colorscheme, bg_error); position: relative;
						input, span:before { color: map_get($colorscheme, error) !important; -webkit-text-fill-color: map_get($colorscheme, error) !important; }
						input::-webkit-input-placeholder, input:-webkit-autofill { color: map_get($colorscheme, error) !important; -webkit-text-fill-color: map_get($colorscheme, error) !important; }
						input + span + span { background: map_get($colorscheme, bg_error); }
					}
					&.success { border-color: map_get($colorscheme, success); background: map_get($colorscheme, bg_success);
						input, span:before { color: map_get($colorscheme, success) !important; -webkit-text-fill-color: map_get($colorscheme, success) !important; }
						input::-webkit-input-placeholder, input:-webkit-autofill { color: map_get($colorscheme, success) !important; -webkit-text-fill-color: map_get($colorscheme, success) !important; }
						input + span + span { background: map_get($colorscheme, bg_success); }
					}
					&.disabled { border-color: lighten(map_get($colorscheme, text_color), 20%); color: lighten(map_get($colorscheme, text_color), 20%); background: lighten(map_get($colorscheme, text_color), 50%); cursor: not-allowed; }
					input { border: none; background: transparent; width: calc(100% - 25px); font-weight: lighter;
						&:disabled { cursor: not-allowed; }
						& + span + span { position: absolute; top: 0; right: -50px; background: lighten(map_get($colorscheme, text_color), 20%); height: 38px; width: 38px; line-height: 38px; text-align: center; color: white; border-radius: 100%; cursor: pointer; }
					}
					&.low { border-color: map_get($colorscheme, error); background: map_get($colorscheme, bg_error);
						.security {
							.bubble, .stick { background: map_get($colorscheme, error); }
							.bubble { left: calc(20% - 2px); }
							.stick { width: 20%; }
							p:after { color: map_get($colorscheme, error); content: "Not secure"; }
							& + input, & + input::-webkit-input-placeholder, & + input + span { color: map_get($colorscheme, error); }
						}
					}
					&.middle { border-color: map_get($colorscheme, middle_color); background: map_get($colorscheme, bg_middle);
						.security {
							.bubble, .stick { background: map_get($colorscheme, middle_color); }
							.bubble { left: calc(60% - 2px); }
							.stick { width: 60%; }
							p:after { color: map_get($colorscheme, middle_color); content: "Not secure enough"; }
							& + input, & + input::-webkit-input-placeholder, & + input + span { color: map_get($colorscheme, middle_color); }
						}
					}
					&.high { border-color: map_get($colorscheme, success); background: map_get($colorscheme, bg_success);
						.security {
							.bubble, .stick { background: map_get($colorscheme, success); }
							.bubble { left: calc(100% - 2px); }
							.stick { width: 100%; }
							p:after { color: map_get($colorscheme, success); content: "Secure"; }
							& + input, & + input::-webkit-input-placeholder, & + input + span { color: map_get($colorscheme, success); }
						}
					}
					.security { position: absolute; top: 12px; left: -180px; width: 150px;
						div { position: relative;
							.bubble { width: 7px; height: 7px; background: map_get($colorscheme, border_color); display: block; border-radius: 100%; transition: all .3s ease-in-out; position: absolute; left: -2px; top: -3px; }
							.stick { height: 2px; background: map_get($colorscheme, border_color); width: 0; display: block; position: absolute; left: 0; top: 0; transition: all .3s ease-in-out; }
							.background { height: 2px; width: 100%; background: lighten(map_get($colorscheme, border_color), 40%); display: block; }
						}
						p { text-align: center; font-size: 10px; font-weight: lighter; text-transform: uppercase; margin: -7px 0 0 0;
							&:after { content: "No password"; color: lighten(map_get($colorscheme, border_color), 20%); transition: color .3s ease-in-out; }
						}
					}
					.birth { position: relative; }
					.icon-calendar { cursor: pointer; }
				}
				input[type=submit] { margin-top: 70px; background: map_get($colorscheme, bg_button); border: 1px solid map_get($colorscheme, button); color: map_get($colorscheme, button); text-transform: uppercase; width: 100%; display: block; padding: 10px 0; border-radius: 2px; transition: all .3s ease-in-out; cursor: pointer;
					&:disabled { border-color: lighten(map_get($colorscheme, text_color), 20%); color: lighten(map_get($colorscheme, text_color), 20%); background: lighten(map_get($colorscheme, text_color), 50%); cursor: not-allowed; }
				}
			}
			#ui-datepicker-div { left: 450px; background: white; border-radius: 2px; box-shadow: 0 3px 5px rgba(black, .1);
				& > div { background: map_get($colorscheme, bg_datepicker); color: white; position: relative;
					&:before { content: "\00a0"; width: 0; height: 0; position: absolute; left: -5px; top: 15px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-right: 5px solid map_get($colorscheme, bg_datepicker); }
					.ui-datepicker-prev, .ui-datepicker-next { position: absolute; cursor: pointer; }
					.ui-datepicker-prev { left: 10px; }
					.ui-datepicker-next { right: 10px; }
					.ui-state-disabled { color: rgba(white, .4); cursor: not-allowed; }
					.ui-datepicker-title { text-align: center; }
				}
				table { font-size: 14px;
					th { color: map_get($colorscheme, datepicker_month); font-weight: lighter; }
					td a { text-decoration: none; color: map_get($colorscheme, datepicker_day); text-align: center; display: block; width: 35px; border-radius: 5px;
						&.ui-state-active { background: map_get($colorscheme, bg_datepicker); color: white; }
					}
					td span { color: lighten(map_get($colorscheme, text_color), 40%); width: 35px; text-align: center; display: block; cursor: not-allowed; }
				}
			}
			#ui-id-1, ul.location_autocomplete { background: white; list-style: none; width: 100%; border: 1px solid lighten(map_get($colorscheme, text_color), 30%); padding: 0 15px; color: lighten(map_get($colorscheme, text_color), 20%); margin: -11px 0 0 0; overflow: auto; max-height: 145px; font-weight: lighter; position: absolute; z-index: 5;
				&.location_autocomplete { display: none; margin-bottom: 10px; }
				li { height: 35px; line-height: 35px; overflow: hidden;
					& + li { border-top: 1px dashed lighten(map_get($colorscheme, text_color), 30%); box-sizing: content-box; }
				}
			}
			#age_slider, #popularity_slider { margin: 15px 0 25px 0; width: 85%; height: 3px; background: darken(map_get($colorscheme, bg_block), 10%); position: relative; border-right: 6px solid darken(map_get($colorscheme, bg_block), 10%); display: inline-block;
				div { height: 100%; background: map_get($colorscheme, checkbox); position: absolute; }
				span { width: 8px; height: 8px; position: absolute; background: map_get($colorscheme, checkbox); border-radius: 100%; top: -2px; text-align: center; cursor: pointer;
					p { font-size: 10px; background: white; border-radius: 2px; border: 1px solid darken(map_get($colorscheme, bg_block), 10%); display: table; padding: 2px 5px; position: absolute; left: 50%; transform: translateX(-50%); top: 7px; cursor: default;
						&:before { content: "\00a0"; width: 0; height: 0; position: absolute; top: -5px; left: 50%; transform: translateX(-50%); border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid darken(map_get($colorscheme, bg_block), 10%); }
					}
				}
			}
		}
		#content {
			&.error {
				h1 { font-family: 'Fjalla One'; color: map_get($colorscheme, bg_notif); text-align: center; }
				img { width: 100%; max-width: 250px; margin: 50px auto; display: block; }
				p { font-size: 14px; text-align: center; }
			}
		}
		footer { padding: 20px 50px; text-align: center; position: absolute; bottom: 0; left: 0; width: 100%; font-weight: lighter; font-size: 12px; color: rgba(map_get($colorscheme, text_color), .5);
			p { margin: 0; }
		}
		&[class^="icon-smiley-"] { color: map_get($colorscheme, smiley); }
	}
}
