@mixin theme_responsive($colorscheme) {
	@media screen and (max-width: 1900px) {
		#content {
			&.profile div.error, &.profile div.success { padding: 0; height: auto;
				input, select { padding: 0 15px; width: calc(100% - 40px); }
				p.error, p.success { position: relative; display: block; left: 0;
					&:before { border-color: transparent; }
					input::-webkit-input-placeholder, input:-webkit-autofill { padding: 0 15px; }
				}
			}
			&.profile .password { margin-top: 80px !important;
				.security { left: 0 !important; top: -40px !important; width: 100% !important; }
			}
			&.profile #ui-datepicker-div { left: 0 !important; top: 10px !important; position: relative !important;
				& > div:before { border: none !important; }
				table { width: 100%;
					td, th { width: calc(100% / 14);
						a, span { width: 100%; margin: 0 auto; }
					}
				}
			}
		}
	}
	@media screen and (max-width: 1700px) {
		#content.trainer > div:not(.dialog) { border-spacing: 2vw 0 !important; }
		#content.likes, #content.views {
			& > div article { width: calc(50% - 15px) !important;
				&:nth-child(3n+2) { margin-left: 0 !important; margin-right: 0 !important; }
				&:nth-child(even) { margin-left: 30px !important; }
			}
		}
	}
	@media screen and (max-width: 1400px) {
		#content.trainer > div:not(.dialog) { border-spacing: 0 !important; }
	}
	@media screen and (max-width: 1200px) {
		#content.profile {
			& > article { width: 100% !important; display: block !important; border: none !important;
				& + article {  margin-top: 70px; }
			}
			.actions > * { display: block; margin: 0 auto 15px auto; }
		}
		.index div { padding-left: 0 !important; padding-right: 0 !important;
			article { display: block !important; width: 100% !important; }
			.pikachu { display: block !important; height: 350px; }
		}
		#content.trainer > div:not(.dialog) { display: block !important;
			article { display: block !important; margin: 0 auto !important;
				& + article { height: 600px; margin-top: 20px !important; }
			}
		}
		#content.likes, #content.views {
			& > div article { width: 100% !important;
				&:nth-child(even) { margin-left: 0 !important; }
			}
		}
		#content.search > article { padding-left: 20px !important; }
	}
	@media screen and (max-width: 1030px) {
		#content {
			#error, #success { width: 80% !important; padding: 10px !important; }
			&.register div.error, &.register div.success, &.login div.error, &.login div.success, &.forgot div.error, &.forgot div.success { padding: 0; height: auto;
				input { padding: 0 15px; width: calc(100% - 40px); }
				p.error, p.success { position: relative; display: block; left: 0;
					&:before { border-color: transparent; }
					input::-webkit-input-placeholder, input:-webkit-autofill { padding: 0 15px; }
				}
			}
			&.register .password, &.forgot .password { margin-top: 80px !important;
				.security { left: 0 !important; top: -40px !important; width: 100% !important; }
			}
			.cropper {
				input, p.error { width: 100%; }
				button { width: calc(100% - 30px) !important; }
			}
			&.search { padding-bottom: 70px !important;
				& > article { width: 100% !important; height: auto !important; min-height: 0 !important; padding: 0 20px;
					& > h1, & > h2 { text-align: center; }
					.tuto_msg { margin-left: 0 !important;
						span.icon-specialarrow { display: none; }
					}
					footer { display: none; }
				}
				& > figure { position: relative !important; width: 100% !important; height: 80vh !important;
					&:before { display: none; }
				}
				& > footer { display: block !important; }
			}
		}
		#ui-datepicker-div { left: 0 !important; top: 10px !important; position: relative !important;
			& > div:before { border: none !important; }
			table { width: 100%;
				td, th { width: calc(100% / 14);
					a, span { width: 100%; margin: 0 auto; }
				}
			}
		}
	}
	@media screen and (max-width: 850px) {
		header.unlogged + #content { background: none !important; }
		#content.profile .actions { width: 100%; }
		#content.chat {
			.container { display: block !important;
				.empty .tuto_msg span { display: none; }
				.list, .room { display: block !important; width: 100% !important;
					&.list { height: 57px; padding-bottom: 0; padding-right: 0; border-right: 3px solid map-get($colorscheme, bg_block); margin-right: 2px; overflow-x: auto; overflow-y: hidden;
						& > div { width: auto; text-align: left; height: 100%; white-space: nowrap;
							div { border-bottom: none !important; border-right: 1px solid darken(map-get($colorscheme, bg_block), 5%); width: auto !important; display: inline-block !important; }
						}
					}
				}
				.talk { padding-left: 0 !important;
					div.sender-me { margin-right: 32px !important;
						span.hour { right: -30px !important; }
					}
					div.sender-other {
						span.hour { left: -30px !important; }
					}
					span.hour { font-size: 8px; top: 5px !important; }
				}
			}
		}
		#content.admin article {
			& > * { display: block !important; margin-bottom: 15px; }
			#admin_delete { text-align: center !important; }
			figure span { top: 10px !important; bottom: auto !important; left: 10px !important; }
		}
	}
	@media screen and (max-width: 650px) {
		.index article { padding: 50px 20px !important;
			& > a { width: 100% !important; padding: 10px !important; }
			& + .pikachu { width: 100% !important; }
		}
		#content.search > article {
			& > div {
				& > h1 { font-size: 28px !important; }
				& > h2 { font-size: 15px !important; }
				& > h1, & > h2 { text-align: center; }
			}
			.left, .right { width: 100% !important; display: block !important; max-width: 300px !important; }
			.input.interest { margin-bottom: 100px !important;
				.tags { top: 45px !important; left: 0 !important;
					&:before { left: 15px !important; top: -5px !important; border-left: 5px solid transparent !important; border-right: 5px solid transparent !important; border-bottom: 5px solid map_get($colorscheme, bg_nav); border-top: 0 !important; }
				}
			}
			.profile_user { padding: 3% !important; height: 200px !important; width: 100% !important; margin-right: 0 !important;
				div { width: calc(100% - ((200px - 4.5%) * (2.1 / 3))) !important;
					h2 span { font-size: 30px !important; }
					p.age, p.place { font-size: 12px !important;
						span { font-size: 14px !important; }
					}
					.type { background-size: 30px !important; background-position: right 40px !important; }
				}
			}
		}
	}
	@media screen and (max-width: 500px) {
		header.unlogged {
			nav { position: absolute; top: 0; left: 0; width: 100%;
				button { display: block; height: 80px; padding: 0 25px;
					&.checked ~ a { height: 50px !important; line-height: 50px !important; color: white !important; transition: height .5s ease-in-out; }
				}
				a { background: map_get($colorscheme, bg_nav) !important; color: transparent !important; display: block !important; width: 100% !important; height: 0 !important; line-height: 0 !important; border-top: 1px solid rgba(255, 255, 255, .3); border-radius: 0 !important; margin-top: 0 !important; transition: height .5s ease-in-out; }
			}
			& + section footer { padding: 20px; }
		}
		#content {
			&.index img { max-width: 90% !important; }
			&.register form, &.login form, &.forgot form, &.profile form { width: 100%; }
			&.profile {
				.location { width: calc(100% - 50px); }
				.actions button { width: 100%; }
			}
		}
		#content.trainer > div { width: 100% !important;
			article { width: 100% !important;
				.images { width: 100% !important; height: calc((100vw - 40px) * (3 / 2.1)) !important; }
				& + article { min-height: 600px; height: auto !important; }
			}
		}
		h1.title { font-size: 24px !important; }
		#content.likes > div article, #content.views > div article {
			figure, div { display: block !important; width: 100% !important; margin: 0 0 10px 0 !important; }
		}
		#content.search {
			div.radio { display: block !important; width: 100% !important; }
		}
	}
	@media screen and (max-width: 400px) {
		& #content.search > article .profile_user { height: auto !important;
			& > * { float: none !important; }
			figure { width: 130px !important; margin: 0 auto !important;
				img { width: 100% !important; height: auto !important; }
			}
			div { width: 100% !important; height: 170px !important; padding: 0 20px 0 10px !important; margin-top: 20px; }
		}
	}
	@media screen and (max-width: 650px), screen and (max-height: 650px) {
		.background.logged + .loader { left: 0 !important; }
		& header.logged { display: block !important; width: 100% !important; height: 70px !important; position: relative !important; padding: 0 !important; padding: 0 20px !important;
			& > a { display: block !important; height: 70px; line-height: 70px; }
			nav { position: absolute; top: 0; left: 0; width: 100%;
				a { background: transparent; height: 0; line-height: 0; border-top: 1px solid rgba(255, 255, 255, .3); visibility: hidden; transition: none;
					span { font-size: 26px !important; padding: 5px 15px; display: inline-block; vertical-align: middle; color: transparent;
						&:hover + p.title { left: 0; }
					}
					p.title { position: relative !important; top: 0 !important; opacity: 1 !important; color: transparent; margin: 0 !important; background: transparent !important; display: inline-block; vertical-align: middle; width: 100px; text-align: left;
						&:before { display: none; }
					}
					&.themes { margin-top: 0 !important;
						span { border: none !important; display: inline-block !important; width: auto !important; height: auto !important; }
					}
				}
				button { display: block; height: 70px; padding: 0 25px;
					&.checked ~ a, &.checked ~ div a { height: 50px !important; line-height: 2.5 !important; background: map_get($colorscheme, bg_nav) !important; visibility: visible; transition: height .5s ease-in-out;
						span, p.title { color: rgba(255, 255, 255, .7) !important; }
						&.active span, &.active p.title, &:hover span, &:hover p.title { color: white !important; opacity: 1; }
					}
				}
				hr { display: none; }
				div { position: relative; bottom: 0; }
				.notif { visibility: visible; width: 95%; margin: auto; left: 0; right: 0; position: fixed; top: 90px; padding: 20px;
					&:before { border: none; }
				}
				.new:after { top: 20px; }
			}
			& + #content { margin-left: 0 !important; width: 100% !important;
				#error, #success { left: 0 !important; top: 80px !important; }
			}
		}
		.cropper, .dialog { left: 0 !important; width: 95% !important; }
		.colorscheme { left: 0 !important; }
	}
	@media screen and (max-width: 830px), screen and (max-height: 450px) {
		.cropper { max-height: 100% !important; overflow: auto; height: auto !important;
			span.icon-cross { background: map_get($colorscheme, bg); z-index: 100 !important; padding: 5px; top: 15px !important; right: 15px !important; }
			figure, article { display: block !important; width: 100% !important; }
			figure { height: 350px !important; }
			article { margin-top: 20px !important; padding-left: 0 !important;
				p.error { left: 0 !important; }
				button { position: relative !important; left: 0 !important; }
			}
		}
	}
}
