// COLORS
$colors: (
	default: (
		text_color:			#6d6e76,
		border_color:		#6d6e76,
		bg:					#fbfaf8,
		bg_nav:				#22313f,
		bg_notif:			#ef5350,
		button:				#069,
		bg_button:			#61b3f8,
		error:				#ef5350,
		bg_error:			#f5c5c4,
		success:			#696,
		bg_success:			#c6ebd1,
		middle_color:		#f5ab35,
		bg_middle:			#ffebcc,
		bg_datepicker:		#2c455d,
		datepicker_month:	#a2b4c6,
		datepicker_day:		#5f7891,
		smiley:				#f5ab35,
		bg_cover:			#efefef,
		link:				#0a5da4,
		bg_report:			#fa7977,
		report:				#aa2c2a,
		bg_block:			#f1f1f1,
		checkbox:			#61b3f8
	),
	dark: (
		text_color:			#6d6e76,
		border_color:		#6d6e76,
		bg:					#002b36,
		bg_nav:				#627b83,
		bg_notif:			#ef5350,
		button:				#069,
		bg_button:			#61b3f8,
		error:				#ef5350,
		bg_error:			#f5c5c4,
		success:			#696,
		bg_success:			#c6ebd1,
		middle_color:		#f5ab35,
		bg_middle:			#ffebcc,
		bg_datepicker:		#2c455d,
		datepicker_month:	#a2b4c6,
		datepicker_day:		#5f7891,
		smiley:				#f5ab35,
		bg_cover:			#92a1a2,
		link:				#0a5da4,
		bg_report:			#fa7977,
		report:				#aa2c2a,
		bg_block:			#003642,
		checkbox:			#627b83
	),
	kawai: (
		text_color:			#6d6e76,
		border_color:		#6d6e76,
		bg:					#ffeff3,
		bg_nav:				#f17e93,
		bg_notif:			#ef5350,
		button:				#069,
		bg_button:			#61b3f8,
		error:				#ef5350,
		bg_error:			#f5c5c4,
		success:			#696,
		bg_success:			#c6ebd1,
		middle_color:		#f5ab35,
		bg_middle:			#ffebcc,
		bg_datepicker:		#2c455d,
		datepicker_month:	#a2b4c6,
		datepicker_day:		#5f7891,
		smiley:				#f5ab35,
		bg_cover:			#ffd8d8,
		link:				#0a5da4,
		bg_report:			#fa7977,
		report:				#aa2c2a,
		bg_block:			#ffd8d8,
		checkbox:			#f17e93
	),
	fire: (
		text_color:			#000,
		border_color:		#6d6e76,
		bg:					#ffd4aa,
		bg_nav:				#e57b05,
		bg_notif:			#ef5350,
		button:				#069,
		bg_button:			#61b3f8,
		error:				#ef5350,
		bg_error:			#f5c5c4,
		success:			#696,
		bg_success:			#c6ebd1,
		middle_color:		#f5ab35,
		bg_middle:			#ffebcc,
		bg_datepicker:		#2c455d,
		datepicker_month:	#a2b4c6,
		datepicker_day:		#5f7891,
		smiley:				#f5ab35,
		bg_cover:			#ffba91,
		link:				#0a5da4,
		bg_report:			#fa7977,
		report:				#aa2c2a,
		bg_block:			#ffba91,
		checkbox:			#e57b05
	),
	water: (
		text_color:			#000,
		border_color:		#6d6e76,
		bg:					#a7dbdb,
		bg_nav:				#04516d,
		bg_notif:			#ef5350,
		button:				#069,
		bg_button:			#61b3f8,
		error:				#ef5350,
		bg_error:			#f5c5c4,
		success:			#696,
		bg_success:			#c6ebd1,
		middle_color:		#f5ab35,
		bg_middle:			#ffebcc,
		bg_datepicker:		#2c455d,
		datepicker_month:	#a2b4c6,
		datepicker_day:		#5f7891,
		smiley:				#f5ab35,
		bg_cover:			#75b9cc,
		link:				#0a5da4,
		bg_report:			#fa7977,
		report:				#aa2c2a,
		bg_block:			#75b9cc,
		checkbox:			#04516d
	),
	grass: (
		text_color:			#000,
		border_color:		#6d6e76,
		bg:					#e8edcf,
		bg_nav:				#8aa02c,
		bg_notif:			#ef5350,
		button:				#069,
		bg_button:			#61b3f8,
		error:				#ef5350,
		bg_error:			#f5c5c4,
		success:			#696,
		bg_success:			#c6ebd1,
		middle_color:		#f5ab35,
		bg_middle:			#ffebcc,
		bg_datepicker:		#2c455d,
		datepicker_month:	#a2b4c6,
		datepicker_day:		#5f7891,
		smiley:				#f5ab35,
		bg_cover:			#b0c95f,
		link:				#0a5da4,
		bg_report:			#fa7977,
		report:				#aa2c2a,
		bg_block:			#ccdd84,
		checkbox:			#8aa02c
	)
);

// POKEMON TYPES
$type: bug, dark, dragon, electric, fairy, fighting, fire, flying, ghost, grass, ground, ice, normal, poison, psychic, rock, steel, water;

// SCSS FILES
@import 'fonts';
@import 'normalize';
@import 'main';
@import 'responsive';

// THEMES
$themes: default, dark, kawai, fire, water, grass;
@each $th in $themes {
	body.#{$th} {
		@include theme(map_get($colors, #{$th}));
		@include theme_responsive(map_get($colors, #{$th}));
		.pikachu { background-image: url('../imgs/themes/bg_#{$th}.png'); }
		.search > figure { background-image: url('../imgs/themes/map_#{$th}.jpg');
			&:before { background-image: url('../imgs/themes/map_mask_#{$th}.png'); }
		}
		@if $th == kawai {
			#content { background: url('../imgs/themes/bg_mosaic_kawai.png') left top repeat, map_get(map_get($colors, #{$th}), bg); }
			.search > figure { background-color: darken(map_get(map_get($colors, #{$th}), bg), 12%); }
			.textarea, .input, .select { background: rgba(white, .8); }
		} @elseif $th == dark {
			.search > figure { background-color: lighten(map_get(map_get($colors, #{$th}), bg), 20%); }
			.textarea, .input, .select { background: rgba(white, .8); }
		} @else {
			.search > figure { background-color: darken(map_get(map_get($colors, #{$th}), bg), 10%); }
			.textarea, .input, .select { background: rgba(white, .5); }
		}
	}
}
